################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/app-vidaa/config
/.vs/app-vidaa/CopilotIndices/17.14.995.13737
/.vs/app-vidaa/FileContentIndex
/.vs
