################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/HiZ-Store/config
/.vs/HiZ-Store/CopilotIndices/17.14.995.13737
/.vs/HiZ-Store/FileContentIndex
/.vs
