body {
    background-color: black;
    color: white;
    font-family: Arial;
}

button {
    background-color: darkblue;
    border: solid 2px olive;
    color: white;
    padding: 30px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Arial Rounded MT';
    font-size: 25px;
}

hr {
    border: 1px solid #0e131d;
}

img {
    border-radius: 20px;
}